{% extends 'base.html' %}
{% block content_full %}
    <div class="content col-md-8">
        <h2>{{ article_obj.title }}</h2>
        <hr>
        <div style="font-size: 20px">{{ content|safe }}</div>
    </div>
{% endblock %}

{% block footer_plus %}
    {#    点赞加评论#}
    <div class="poll clearfix">
        <div id="div_digg">
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>

    </div>

    <div class="click_flag" article_id="{{ article_obj.pk }}" username="{{ request.user.username }}"></div>
    {#    标志是否登录#}
    {% csrf_token %}

    <script>
        $("#div_digg .action").click(function () {
            if ($(".click_flag").attr("username")) {
                //如果已经登录
                //点赞或者踩
                var is_up = $(this).hasClass("diggit");
                var article_id = $(".click_flag").attr("article_id");
                $.ajax({
                    url: "/blog/up_or_down/",
                    type: "post",
                    data: {
                        is_up: is_up,
                        article_id: article_id,
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.state) {
                            if (is_up) {
                                //赞+1
                                var val = $("#digg_count").text();
                                val = parseInt(val) + 1;
                                $("#digg_count").text(val);
                            } else {
                                //踩+1
                                var val = $("#bury_count").val();
                                val = parseInt(val) + 1;
                                $("#bury_count").text(val);
                            }
                        } else {
                            if (data.first_action) {
                                $("#digg_tips").html("您已经推荐过");
                            } else {
                                $("#digg_tips").html("您已经反对过");
                            }

                            setTimeout(function () {
                                $("#digg_tips").html("")
                            }, 1000)
                        }
                    }
                })
            } else {
                location.href = '/login/';
            }
        });

    </script>


    {#    评论#}
{#    <p>评论树</p>#}
{#    <div class="comment_tree">#}
{##}
{#    </div>#}
{#    <hr>#}

    <p>评论列表</p>

    <ul class="comment_list">
        <li class="list-group-item">
            {% for i in content_list %}
                <div>
                    <a href="#">{{ forloop.counter }}楼</a>
                    <span style="color:gray;">{{ i.create_time|date:"Y-m-d H:i" }}</span>
                    <a href=""><span>{{ i.user.username }}</span></a>
                    <a class="'pull-right reply_btn" username="{{ i.user.username }}"
                       comment_pk="{{ i.pk }}"><span>回复</span></a>
                </div>
                {% if i.parent_comment_id %}
                    <div class="pid_info well">
                        <p>{{ i.parent_comment.user.username }}:
                            {{ i.parent_comment.content }}</p>
                    </div>
                {% endif %}
                <div class="con">
                    <p>{{ i.content }}</p>
                </div>
            {% endfor %}
        </li>
    </ul>

    {% if request.user.username %}
        {#        如果已经登录#}
        <div class="div_comment">
            <p>昵称：<input type="text" id="commentAuthor" class="author" disabled="disabled" size="50"
                         value="{{ request.user.username }}"></p>
            <p>评论内容</p>
            <textarea name="" id="comment_content" cols="60" rows="10"></textarea>
            <button id="comment_btn">提交评论</button>
        </div>
    {% else %}
        <a href="/login/">登录</a>
    {% endif %}

    <script>
        //展示评论树
        {#$.ajax({#}
        {#    url: "/blog/comment_tree/" + '{{ article_obj.pk }}/',#}
        {#    success: function (data) {#}
        {#        console.log(data);#}
        {##}
        {#        $.each(data, function (index, comment_dict) {#}
        {#            var s = '<div class="comment_item" comment_id=' + comment_dict.pk + '> <span class="content">' + comment_dict.content + '</span> </div>'#}
        {#            if (comment_dict.parent_comment_id) {#}
        {#                // 子评论#}
        {#                var pid = comment_dict.parent_comment_id;#}
        {#                $("[comment_id=" + pid + "]").append(s);#}
        {#            } else {   //  根评论#}
        {#                $(".comment_tree").append(s);#}
        {#            }#}
        {#        })#}
        {##}
        {#    }#}
        //});

        //提交评论
        var pid = "";
        $("#comment_btn").click(function () {
            var article_id = $(".click_flag").attr("article_id"); //获取登录人id
            var content = $("#comment_content").val();//获取评论内容

            if (pid) {
                var index = content.indexOf('\n');
                content = content.slice(index + 1);
            }

            $.ajax({
                url: "/blog/comment/",
                type: "post",
                data: {
                    article_id: article_id,
                    content: content,
                    pid: pid,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    var create_time = data.create_time;
                    var content = data.content;
                    var username = data.username;

                    var comment_li = '<li class="list-group-item"><div><span style="color: gray">' + create_time + '</span> &nbsp;&nbsp; <a href=""><span>' + username + '</span></a></div> <div class="con"> <p> ' + content + ' </p> </div> </li>';
                    $(".comment_list").append(comment_li);

                    //清空文本框
                    $("#comment_content").val("");
                    //清空pid
                    pid = ""
                }

            });


        })


        //给回复按钮绑定事件
        $(".list-group-item .reply_btn").click(function () {
            $("#comment_content").focus();
            var v = "@" + $(this).attr("username") + "\n";
            $("#comment_content").val(v);
            //pid赋值
            pid = $(this).attr("comment_pk")
        })
    </script>

{% endblock %}
