<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<header>
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo">
                    <a href="#">blog</a>&nbsp;&nbsp;
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <form class="navbar-form visible-xs" action="#" method="POST">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20"
                               autocomplete="off">
                        <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-search">搜索</button>
                            </span>
                    </div>
                </form>
                <ul class="nav navbar-nav ">
                    <li><a href="/index/">首页</a></li>
                    <li><a href="#">我的博客</a></li>
                    <li><a href="/blog/add_blog/">写博客</a></li>
                    <li><a href="404.html">教程</a></li>
                    <li><a href="404.html">关于</a></li>
                </ul>
                {% if request.user.username %}
                    {#已经登录#}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{ request.user.username }}</a></li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">个人中心<span class="caret"></span></a>
                            <ul class="dropdown-menu ">
                                <li><a href="#">我的关注</a></li>
                                <li><a href="#">我的收藏</a></li>
                                <li><a href="#">我的博客</a></li>
                                {#                                <li role="separator" class="divider"></li>#}
                                <li><a href="/logout/">退出</a></li>
                            </ul>
                        </li>
                    </ul>

                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login/">登录</a></li>
                        <li><a href="/reg/">注册</a></li>
                    </ul>
                {% endif %}
            </div>

        </div>
    </nav>
</header>

<div class="container">
    <div class="introBanner">
        <h4>走过的路，每一步都算数！</h4>
    </div>
    <div class="content-wrap">

        <div class="content">
            <div class="title">
                <h3>最新发布</h3>

            </div>
            {% for article in articles %}
                <div class="excerpt">
                    <header>
                        <h2><a href="/blog/{{ article.user.username }}/article/{{ article.pk }}">{{ article.title }}</a>
                        </h2>
                    </header>
                    <p>
                        {{ article.desc|safe }}
                    </p>
                    <p class="meta">
                        <a class="time" href="#"><i class="glyphicon glyphicon-time"></i> {{ article.create_time }}</a>
                        <a class="views" href="#"><i class="glyphicon glyphicon-eye-open"></i> {{ article.up_count }}
                        </a>
                        <a class="comment" href="#"><i
                                class="glyphicon glyphicon-comment"></i> {{ article.comment_count }}</a>
                    </p>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p>Copyright &copy; 2019.tian.Inc All rights reserved</p>
    </div>
</div>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>